/** Components Styling **/
#navbar-container {
  width: 95% !important;
}

/* Navbar hover for non-inverted */
.menu-item:hover {
  color: #ffd700 !important;
}

.hamburger-animation {
  color: var(--lightShade) !important;
  transition: color 1s ease;
}

/* Navbar animation class */
.navbar-animation {
  box-shadow: var(--mediumShadow) !important;
  background: var(--mainGradient) !important;
  color: var(--lightShade) !important;
  transition: box-shadow 1s ease, background 0.2s linear, color 1s ease;
}
